@media only screen and (min-width:768px) and (max-width: 959px){
    body{
        height: 1500px;
    }
    
    header{
        height: 650px;
        max-width: 100%;
    }

    .login-btn, .open-btn{
        display: none;
    }

    .user-options{
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .user-options button{
        border: none;
        border-radius: 20px;
    }

    .signin-btn{
        background-color: #eb1700;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        width: 78.03px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .signup-btn{
        background-color: #fff;
        color: #494949;
        font-family: 'DD-TT Norms bold';
        width: 86.48px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .dd-section{
        display: none;
    }

    .dd-section-main{
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dd-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 33px;
    }

    .dd-contents h1{
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        padding: 0;
        margin-top: 0;
        line-height: 28px;
        padding-bottom: 4.1px;
    }

    .dd-contents .dd-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dd-input .input-box{
        width: 368px;
        height: 56px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        font-family: 'DD-TT Norms medium';
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }


    .input-box .input-sec-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 12.4px;
    }

    .input-sec-2{
        display: flex;
        justify-content: flex-end;
    }

    .input-sec-2 button{
        display: none;
    }

    .search-img{
        display: none;
    }

    .log-in-icon{
        width: 88.73px;
        height: 32px;
        background-color: #fff;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: center;
        border: none;
        border-radius: 50px;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        margin-top: 15px;
    }

    .log-in-mob, .sign-in-tab{
        display: none;
    }

    .mob-download{
        display: none;
    }

}

@media only screen and (min-width:960px) and (max-width:1180px){
    header{
        height: 650px;
        max-width: 100%;
    }

    .login-btn, .open-btn{
        display: none;
    }

    .user-options{
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .user-options button{
        border: none;
        border-radius: 20px;
    }

    .signin-btn{
        background-color: #eb1700;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        width: 78.03px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .signup-btn{
        background-color: #fff;
        color: #000;
        font-family: 'DD-TT Norms bold';
        width: 86.48px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .dd-section{
        display: none;
    }

    .dd-section-main{
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 11px;
    }

    .dd-section-main .main-img-1{
        width: 42px;
        height: 24px;
    }

    .dd-section-main .main-img-2{
        width: 155.06px;
        height: 18px;
    }

    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dd-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .dd-contents h1{
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        padding: 0;
        margin-top: 0;
        line-height: 28px;
    }

    .dd-contents .dd-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dd-input .input-box{
        width: 378px;
        height: 50px;
        border: 2px solid cornflowerblue;
        border-radius: 50px;
        background-color: #fff;
        font-family: 'DD-TT Norms medium';
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 8px;
        margin-bottom: 16px;
        margin-top: 4px;
    }


    .input-box .input-sec-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 13px;
    }

    .input-sec-2{
        display: flex;
        justify-content: flex-end;
    }

    .input-sec-2 button{
        display: none;
    }

    .search-img{
        display: none;
    }

    .log-in-icon{
        width: 203.05px;
        height: 32px;
        background-color: #fff;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: center;
        border: none;
        border-radius: 50px;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        /* margin-top: 15px; */
    }

    .sign-in-tab-1{
        display: none;
    }

    .log-in-mob, .sec-2{
        display: none;
    }

    .mob-download{
        display: none;
    }
}

@font-face{
    font-family: 'DD-TT Norms';
    src: url(/assets/fonts/Norms-Regular.ttf);
}

@font-face{
    font-family: 'DD-TT Norms bold';
    src: url(/assets/fonts/Norms-Bold.ttf);
}

@font-face{
    font-family: 'DD-TT Norms medium';
    src: url(/assets/fonts/Norms-Medium.ttf);
}