@media only screen and (min-width:768px) and (max-width: 959px){
    header{
        height: 650px;
        max-width: 100%;
    }

    .login-btn, .open-btn{
        display: none;
    }

    .user-options{
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .user-options button{
        border: none;
        border-radius: 20px;
    }

    .signin-btn{
        background-color: #eb1700;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        width: 78.03px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .signup-btn{
        background-color: #fff;
        color: #494949;
        font-family: 'DD-TT Norms bold';
        width: 86.48px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .dd-section{
        display: none;
    }

    .dd-section-main{
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dd-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 33px;
    }

    .dd-contents h1{
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        padding: 0;
        margin-top: 0;
        line-height: 28px;
        padding-bottom: 4.1px;
    }

    .dd-contents .dd-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dd-input .input-box{
        width: 368px;
        height: 56px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        font-family: 'DD-TT Norms medium';
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }


    .input-box .input-sec-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 12.4px;
    }

    .input-sec-2{
        display: flex;
        justify-content: flex-end;
    }

    .input-sec-2 button{
        display: none;
    }

    .search-img{
        display: none;
    }

    .log-in-icon{
        width: 88.73px;
        height: 32px;
        background-color: #fff;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: center;
        border: none;
        border-radius: 50px;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        margin-top: 15px;
    }

    .log-in-mob, .sign-in-tab{
        display: none;
    }

    .mob-download{
        display: none;
    }

    .dd-options{
        margin: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 768px;
        gap: 24px;
      }
    
      .dd-option{
        /* width: 320px; */
        height: auto;
        /* background-color: lightblue; */
        display: flex;
        column-gap: 60px;
      }
    
      .dd-option-img{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
    
      .option-img img{
        width: 124px;
        height: 124px;
      }
    
      .option-container{
        width: 244px;
        height: 114px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
      }
    
      .opt-span-1{
        font-size: 18px;
        font-family: 'DD-TT Norms bold';
      }
    
      .opt-span-2{
        font-size: 14px;
        font-family: 'DD-TT norms medium';
        color: #191919;
        line-height: 20px;
        letter-spacing: -0.01px;
      }
    
      .option-container button{
        background-color: #fff;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        color: #eb1700;
        border: none;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 0;
      }

      .foods{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fef1ee;
        margin-top: 545px;
        gap: 40px;
        height: 630px;
      }
    
      .crave{
        width: 763px;
        height: 504px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: -445px;
      }
    
      .crave-img{
        width: 317.39px;
        height: 500px;
        background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/download_the_app_desktop.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    
      .crave-content{
        width: 385.61px;
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .crave-content h2{
        margin: 20px 0 0;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        line-height: 40px;
        letter-spacing: -0.01px;
      }
    
      .crave-content .sub-span{
        font-size: 20px;
        font-family: 'DD-TT Norms bold';
        margin: 20px 0 0;
        line-height: 24px;
        /* letter-spacing: -0.01px; */
      }
    
      .crave-content .sub-content{
        font-size: 16px;
        font-family: 'DD-TT Norms';
        margin-top: 10px;
        line-height: 22px;
        /* letter-spacing: -0.01px; */
      }
    
      .crave-content button{
        width: 146px;
        height: 40px;
        background-color: #eb1700;
        margin: 20px 0 0;
        font-family: 'DD-TT Norms bold';
        color: #FFF;
        border: none;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
      }
    
      .dashpass{
        width: 763px;
        height: 504px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    
      .dashpass-img{
        width: 326.95px;
        height: 500px;
        background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/dashpass_desktop.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .groceries{
        width: 100%;
        height: 350px;
        background-image: url(https://door-dash-clone.vercel.app/images/grocery.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .groceries .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .groceries-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
      }
    
      .groceries-container h2{
        width: 400px;
        color: #fff;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        margin: 20px 0 0;
        font-weight: 700;
        /* line-height: 28px; */
        letter-spacing: -0.01px;
      }
    
      .groceries-sub-span{
        font-size: 18px;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        margin: 10px 0 0;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.01px;
      }
    
      .groceries-content{
        color: #fff;
        font-family: 'DD-TT Norms medium';
        font-size: 14px;
        margin: 10px 0 0;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.01px;
      }
    
      .groceries-container button{
        background-color: #eb1700;
        color: #FFF;
        font-family: 'DD-TT Norms bold';
        border: none;
        margin: 20px 0 0;
        width: 123.89px;
        height: 32px;
        text-align: center;
        border-radius: 20px;
      }

}

@media only screen and (min-width:960px) and (max-width:1180px){
    header{
        height: 650px;
        max-width: 100%;
    }

    .login-btn, .open-btn{
        display: none;
    }

    .user-options{
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .user-options button{
        border: none;
        border-radius: 20px;
    }

    .signin-btn{
        background-color: #eb1700;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        width: 78.03px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .signup-btn{
        background-color: #fff;
        color: #000;
        font-family: 'DD-TT Norms bold';
        width: 86.48px;
        height: 40px;
        font-size: 18px;
        letter-spacing: -0.04ch;
        line-height: 24px;
    }

    .dd-section{
        display: none;
    }

    .dd-section-main{
        position: relative;
        top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 11px;
    }

    .dd-section-main .main-img-1{
        width: 42px;
        height: 24px;
    }

    .dd-section-main .main-img-2{
        width: 155.06px;
        height: 18px;
    }

    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dd-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .dd-contents h1{
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        padding: 0;
        margin-top: 0;
        line-height: 28px;
    }

    .dd-contents .dd-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dd-input .input-box{
        width: 378px;
        height: 50px;
        border: 2px solid cornflowerblue;
        border-radius: 50px;
        background-color: #fff;
        font-family: 'DD-TT Norms medium';
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 8px;
        margin-bottom: 16px;
        margin-top: 4px;
    }


    .input-box .input-sec-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 13px;
    }

    .input-sec-2{
        display: flex;
        justify-content: flex-end;
    }

    .input-sec-2 button{
        display: none;
    }

    .search-img{
        display: none;
    }

    .log-in-icon{
        width: 203.05px;
        height: 32px;
        background-color: #fff;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: center;
        border: none;
        border-radius: 50px;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        /* margin-top: 15px; */
    }

    .sign-in-tab-1{
        display: none;
    }

    .log-in-mob, .sec-2{
        display: none;
    }

    .mob-download{
        display: none;
    }

    .dd-options{
        margin: 60px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 38px;
      }
    
      .dd-option{
        /* width: 320px; */
        height: auto;
        /* background-color: lightblue; */
        display: flex;
        column-gap: 60px;
      }
    
      .dd-option-img{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
    
      .option-img img{
        width: 124px;
        height: 124px;
      }
    
      .option-container{
        width: 244px;
        height: 114px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
      }
    
      .opt-span-1{
        font-size: 18px;
        font-family: 'DD-TT Norms bold';
      }
    
      .opt-span-2{
        font-size: 14px;
        font-family: 'DD-TT norms medium';
        color: #191919;
        line-height: 20px;
        letter-spacing: -0.01px;
      }
    
      .option-container button{
        background-color: #fff;
        font-family: 'DD-TT Norms bold';
        font-size: 14px;
        color: #eb1700;
        border: none;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 0;
      }

      .foods{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fef1ee;
        margin-top: 545px;
        gap: 40px;
        height: 630px;
      }
    
      .crave{
        width: 967px;
        height: 504px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: -445px;
      }
    
      .crave-img{
        width: 507px;
        height: 500px;
        background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/download_the_app_desktop.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    
      .crave-content{
        width: 385.61px;
        height: 290px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .crave-content h2{
        margin: 20px 0 0;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        line-height: 40px;
        letter-spacing: -0.01px;
      }
    
      .crave-content .sub-span{
        font-size: 20px;
        font-family: 'DD-TT Norms bold';
        margin: 20px 0 0;
        line-height: 24px;
        /* letter-spacing: -0.01px; */
      }
    
      .crave-content .sub-content{
        font-size: 16px;
        font-family: 'DD-TT Norms';
        margin-top: 10px;
        line-height: 22px;
        /* letter-spacing: -0.01px; */
      }
    
      .crave-content button{
        width: 146px;
        height: 40px;
        background-color: #eb1700;
        margin: 20px 0 0;
        font-family: 'DD-TT Norms bold';
        color: #FFF;
        border: none;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
      }
    
      .dashpass{
        width: 967px;
        height: 504px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    
      .dashpass-img{
        width: 507px;
        height: 500px;
        background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/dashpass_desktop.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .groceries{
        width: 100%;
        height: 600px;
        background-image: url(https://door-dash-clone.vercel.app/images/grocery.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .groceries .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(30, 30, 30, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .groceries-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
      }
    
      .groceries-container h2{
        width: 400px;
        color: #fff;
        font-size: 40px;
        font-family: 'DD-TT Norms bold';
        margin: 20px 0 0;
        font-weight: 700;
        /* line-height: 28px; */
        letter-spacing: -0.01px;
      }
    
      .groceries-sub-span{
        font-size: 18px;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        margin: 10px 0 0;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.01px;
      }
    
      .groceries-content{
        color: #fff;
        font-family: 'DD-TT Norms medium';
        font-size: 14px;
        margin: 10px 0 0;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.01px;
      }
    
      .groceries-container button{
        background-color: #eb1700;
        color: #FFF;
        font-family: 'DD-TT Norms bold';
        border: none;
        margin: 20px 0 0;
        width: 123.89px;
        height: 32px;
        text-align: center;
        border-radius: 20px;
      }
}

@font-face{
    font-family: 'DD-TT Norms';
    src: url(/assets/fonts/Norms-Regular.ttf);
}

@font-face{
    font-family: 'DD-TT Norms bold';
    src: url(/assets/fonts/Norms-Bold.ttf);
}

@font-face{
    font-family: 'DD-TT Norms medium';
    src: url(/assets/fonts/Norms-Medium.ttf);
}