body {
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
}

header {
  background-image: url(/assets/hero_desktop.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 767px) {
  header {
    height: 550px;
    max-width: 100%;
    padding: 0 8px;
  }

  .header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    position: absolute;
    top: 16px;
    right: 24px;
  }

  .signin-btn,
  .signup-btn {
    display: none;
  }

  .user-options button {
    border: none;
    border-radius: 20px;
  }

  .login-btn {
    background-color: #fff;
    color: #000;
    font-family: "DD-TT Norms bold";
    width: 64.14px;
    height: 32px;
    font-size: 16px;
    letter-spacing: -0.04ch;
  }

  .open-btn {
    background-color: #eb1700;
    color: #fff;
    font-family: "DD-TT Norms bold";
    width: 97.25px;
    height: 32px;
    font-size: 16px;
    letter-spacing: -0.04ch;
  }

  .user-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dd-section-main {
    display: none;
  }

  .dd-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  .dd-contents {
    width: 350px;
    height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dd-contents h1 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: "DD-TT Norms bold";
    padding: 0;
    margin-top: 20px;
    line-height: 28px;
  }

  .dd-contents .dd-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dd-input .input-box {
    width: 258px;
    height: 48px;
    margin-top: 10px;
    border: 1px solid cornflowerblue;
    border-radius: 50px;
    background-color: #fff;
    font-family: "DD-TT Norms medium";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
  }

  .input-box .input-sec-1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 12px;
  }

  .input-sec-2 button {
    display: none;
  }

  .location-img {
    display: none;
  }

  .log-in-icon {
    width: 81.06px;
    height: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    border: none;
    border-radius: 50px;
    font-family: "DD-TT Norms bold";
    font-size: 14px;
    margin-top: 15px;
    padding: 8px 0;
  }

  .sign-in-tab,
  .sign-in-tab-1 {
    display: none;
  }
  
  .mob-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
  }

  .playstore-container{
    width: 314px;
    height: 102px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(231, 231, 231);
    padding: 22px;
    border-radius: 16px;
    display: flex;
    column-gap: 10px;
  }

  .logo-img-container{
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid rgb(231, 231, 231);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-content-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .play-content-container img{
    width: 75px;
    height: 13px;
  }

  .play-content-container .content-span-1{
    font-family: 'DD-TT Norms bold';
    font-size: 18px;
    color: #191919;
    letter-spacing: -0.04ch;
    margin: 0;
  }

  .play-content-container .content-span-2{
    font-family: 'DD-TT Norms medium';
    font-size: 14px;
    color: #767676;
  }

  .play-content-container button{
    width: 124.23px;
    height: 32px;
    font-family: 'DD-TT Norms bold';
    font-size: 14px;
    color: #FFF;
    background-color: #eb1700;
    border-radius: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px;
    position: relative;
    top: 3px;
  }

  .play-content-container button img{
    width: 16px;
    height: 16px;
  }

  .dd-options{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    gap: 24px;
  }

  .dd-option{
    /* width: 320px; */
    height: auto;
    /* background-color: lightblue; */
    display: flex;
    column-gap: 30px;
  }

  .dd-option-img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .option-img img{
    width: 88px;
    height: 88px;
  }

  .option-container{
    width: 244px;
    height: 114px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .opt-span-1{
    font-size: 18px;
    font-family: 'DD-TT Norms bold';
  }

  .opt-span-2{
    font-size: 14px;
    font-family: 'DD-TT norms medium';
    color: #191919;
    line-height: 20px;
    letter-spacing: -0.01px;
  }

  .option-container button{
    background-color: #fff;
    font-family: 'DD-TT Norms bold';
    font-size: 14px;
    color: #eb1700;
    border: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 0;
  }

  .foods{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef1ee;
    margin-top: 230px;
    gap: 40px;
    height: 690px;
  }

  .crave{
    width: 372px;
    display: flex;
    flex-direction: column;
    margin-top: -130px;
  }

  .crave-img{
    width: 372px;
    height: 180px;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/download_the_app_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .crave-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .crave-content h2{
    width: 330px;
    margin: 20px 0 0;
    font-size: 24px;
    font-family: 'DD-TT Norms bold';
    line-height: 28px;
    letter-spacing: -0.01px;
  }

  .crave-content .sub-span{
    font-size: 18px;
    font-family: 'DD-TT Norms bold';
    margin: 10px 0 0;
    line-height: 22px;
    letter-spacing: -0.01px;
  }

  .crave-content .sub-content{
    font-size: 14px;
    font-family: 'DD-TT Norms';
    margin-top: 10px;
    line-height: 20px;
    letter-spacing: -0.01px;
  }

  .crave-content button{
    /* width: 130.73px;
    height: 32; */
    background-color: #eb1700;
    margin: 20px 0 0;
    font-family: 'DD-TT Norms bold';
    color: #FFF;
    border: none;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
  }

  .dashpass{
    width: 372px;
    display: flex;
    flex-direction: column;
  }

  .dashpass-img{
    width: 372px;
    height: 180px;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/landing_cta/dashpass_desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .groceries{
    width: 100%;
    height: 350px;
    background-image: url(https://door-dash-clone.vercel.app/images/grocery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .groceries .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .groceries-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .groceries-container h2{
    font-size: 24px;
    color: #fff;
    font-family: 'DD-TT Norms bold';
    margin: 20px 0 0;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
  }

  .groceries-sub-span{
    font-size: 18px;
    color: #fff;
    font-family: 'DD-TT Norms bold';
    margin: 10px 0 0;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.01px;
  }

  .groceries-content{
    color: #fff;
    font-family: 'DD-TT Norms medium';
    font-size: 14px;
    margin: 10px 0 0;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
  }

  .groceries-container button{
    background-color: #eb1700;
    color: #FFF;
    font-family: 'DD-TT Norms bold';
    border: none;
    margin: 20px 0 0;
    width: 123.89px;
    height: 32px;
    text-align: center;
    border-radius: 20px;
  }

  .convinience-mob{
    padding: 20px;
  }

  .convinience-mob-container{
    display: flex;
    flex-direction: column;
  }

  .convinience-mob-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
  }

  .convinience-mob-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .convinience-mob-content{
    display: flex;
    flex-direction: column;
  }

  .convinience-mob-content h2{
    font-size: 24px;
    font-family: 'DD-TT Norms bold';
    margin: 20px 0 0;
  }

  .convinience-mob-content span{
    font-size: 14px;
    font-family: 'DD-TT Norms medium';
    margin: 10px 0 0;
  }

  .convinience-mob-content button{
    margin: 20px 0 0;
    width: 90.78px;
    height: 32px;
    text-align: center;
    background-color: #eb1700;
    color: #fff;
    font-family: 'DD-TT Norms bold';
    border: none;
    border-radius: 20px;
  }

  .helping{
    width: 100%;
    height: 500px;
    background-color: #fef1ee;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .helping-heading{
    width: 300px;
    height: 56px;
    margin: 40px 20px 20px;
    text-align: center;
  }

  .helping-heading span{
    font-size: 24px;
    font-family: 'DD-TT Norms bold';
  }

  .packages{
    width: 367.69px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .package-img{
    width: 100%;
    height: 180px;
  }

  .package-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .package-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .package-content h2{
    font-size: 24px;
    font-family: 'DD-TT Norms bold';
    margin: 20px 0 0;
  }

  .package-content span{
    font-size: 14px;
    font-family: 'DD-TT Norms medium';
    margin: 10px 0 0;
  }

  .package-content button{
    width: 150.50px;
    height: 32px;
    border: none;
    background-color: #eb1700;
    color: #FFF;
    font-family: 'DD-TT Norms bold';
    border-radius: 20px;
    margin: 20px 0 0;
  }
}

@font-face {
  font-family: "DD-TT Norms";
  src: url(/assets/fonts/Norms-Regular.ttf);
}

@font-face {
  font-family: "DD-TT Norms bold";
  src: url(/assets/fonts/Norms-Bold.ttf);
}

@font-face {
  font-family: "DD-TT Norms medium";
  src: url(/assets/fonts/Norms-Medium.ttf);
}
