body{
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url(/assets/hero_desktop.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width:760px){
    header{
        height: 550px;
        max-width: 100%;
        padding: 0 8px;
    }

    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user-options{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    .user-options button{
        border: none;
        border-radius: 20px;
    }

    .login-btn{
        background-color: #fff;
        color: #000;
        font-family: 'DD-TT Norms bold';
        width: 64.14px;
        height: 32px;
        font-size: 16px;
        letter-spacing: -0.04ch;
    }

    .open-btn{
        background-color: #eb1700;
        color: #fff;
        font-family: 'DD-TT Norms bold';
        width: 97.25px;
        height: 32px;
        font-size: 16px;
        letter-spacing: -0.04ch;
    }

    .user-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dd-section{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
    }

    .dd-contents{
        width: 350px;
        height: 176px;
        display: flex;
        flex-direction: column;
    }

    .dd-contents h1{
        color: white;
        text-align: center;
        font-size: 22px;
        font-family: 'DD-TT Norms bold';
        padding: 0;
        margin-top: 20px;
        line-height: 28px;
    }

    .dd-contents .dd-input{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dd-input .input-box{
        width: 286px;
        height: 48px;
        margin-top: 10px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        font-family: 'DD-TT Norms medium';
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@font-face{
    font-family: 'DD-TT Norms';
    src: url(/assets/fonts/Norms-Regular.ttf);
}

@font-face{
    font-family: 'DD-TT Norms bold';
    src: url(/assets/fonts/Norms-Bold.ttf);
}

@font-face{
    font-family: 'DD-TT Norms medium';
    src: url(/assets/fonts/Norms-Medium.ttf);
}